<a href="https://colab.research.google.com/github/cocoball200/algorithm_study/blob/main/1%EC%9D%B4_%EB%90%A0_%EB%95%8C_%EA%B9%8C%EC%A7%80_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1이 될 때 까지 
어떠한 수 N이 1이 될 때까지 다음의 두 과정 중 하나를 반복적으로 선택하여 수행하려고 한다. 두 번째 연산은 N이 K로 나누어 떨어질 때만 수행한다.
1. N에서 1을 뺀다
2. N에서 K로 나눈다. 

예를 들어 N이 17, K가 4라고 가정하다. 이때 1번의 과정을 한 번 수행하면 N은 16이 된다. 이후에 2번의 과정을 두번 수행하면 N은 1이 된다. 전체 과정을 실행한 횟수는 3이 된다. 이는 N을 1로 만드는 최소 횟수이다. 

입력예시 
25 5 
출력 예시 
2

In [3]:
n,k = map(int,input().split())
result = 0

25 5

In [4]:
while n>= k:
  while n%k != 0:
    n -= 1 
    result += 1
  n //= k
  result += 1 

while n> 1:
  n-=1
  result +=1

In [6]:
print(result)

2

# 효율적 방법

In [18]:
n,k = map(int,input().split())
result = 0

25 3

In [17]:
while True:
  target = (n//k)*k
  print("1.target = ", target)
  result += (n-target)
  print("1.result = ", result)
  n= target
  print("1.n = ", n)

  if n<k:
    print("end")
    break
  result += 1
  print("2.result = ", result)
  n //= k
  print("2.n = ", n)

print("3. n = ", n)
result += (n-1)
print(result)

1.target =  24
1.result =  1
1.n =  24
2.result =  2
2. n =  8
1.target =  6
1.result =  4
1.n =  6
2.result =  5
2. n =  2
1.target =  0
1.result =  7
1.n =  0
end
3. n =  0
6