<a href="https://colab.research.google.com/github/cocoball200/algorithm_study/blob/main/%ED%81%B0_%EC%88%98%EC%9D%98_%EB%B2%95%EC%B9%99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

큰 수의 법칙 
예) 2 4 5 4 6으로 이루어진 배열이 있을 때 M =8, K=3 이라고 할때, 특정한 인덱스의 수가 연속해서 세번까지 더해질 수 있고, 총 8번 더해야 한다. 
6+6+6+5+6+6+6+5 =46 
N= 배열의 크기 M 더해지는 횟수 K 연속 더해질 수 있는 횟수

# 단순 풀이

In [28]:
n,m,k = map(int,input().split())
data = list(map(int,input().split()))

5 8 3
2 4 5 4 6

In [29]:
data.sort()
print(data)

[2, 4, 4, 5, 6]

In [30]:
max = data[n-1] #5

In [31]:
secondMax = data[n-2] #6

In [32]:
result = 0

In [33]:
while True:
  for i in range(k):
    if m == 0:
      break
    result += max 
    m -= 1 
  if m == 0:
    break
  result += secondMax
  m -= 1

In [34]:
print(result)

46

# 반복 되는 수열로 풀기

입력 값이 N= 5 , M=8, K =2이라고 가정하고, 배열은 [2,4,5,4,6]이다. 
66
5
66
5
66 
으로 쪼갤 수 있다. 665 665 66 으로 합쳐기고 식으로 나타내면 =  K+1 </br>

M/K+1을 하게 된다면, 몫은 위의 수열이 반복되는 횟수이다. 2번 반복되고, 나머지는 2가 남는다. 이 몫에 k를 곱해주면, 총 가장 큰 수가 더해지는 횟수이다. 
나머지는 추가로 더 더해지는 횟수.여기서도 최대 숫자가 더해짐. 그러므로, 즉 가장 큰 수가 더해지는 것은 6이 된다. 식으로 만들면
(M/(K+1))*K +(M%(K+1)) => 가장 큰 수가 더해지는 횟수

In [35]:
n,m,k = map(int,input().split())
data = list(map(int,input().split()))

5 8 2
2 4 5 4 6

In [36]:
data.sort()

In [37]:
max = data[n-1]
secondMax = data[n-2]

In [38]:
count = int(m/(k+1))*k
count += m %(k+1)

In [39]:
result = 0
result += (count)*max
result += (m-count)*secondMax

In [40]:
print(result)

46