<a href="https://colab.research.google.com/github/cocoball200/algorithm_study/blob/main/%ED%81%B0_%EC%88%98%EC%9D%98_%EB%B2%95%EC%B9%99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

큰 수의 법칙 
예) 2 4 5 4 6으로 이루어진 배열이 있을 때 M =8, K=3 이라고 할때, 특정한 인덱스의 수가 연속해서 세번까지 더해질 수 있고, 총 8번 더해야 한다. 
6+6+6+5+6+6+6+5 =46 
N= 배열의 크기 M 더해지는 횟수 K 연속 더해질 수 있는 횟수

In [28]:
n,m,k = map(int,input().split())
data = list(map(int,input().split()))

5 8 3
2 4 5 4 6

In [29]:
data.sort()
print(data)

[2, 4, 4, 5, 6]

In [30]:
max = data[n-1] #5

In [31]:
secondMax = data[n-2] #6

In [32]:
result = 0

In [33]:
while True:
  for i in range(k):
    if m == 0:
      break
    result += max 
    m -= 1 
  if m == 0:
    break
  result += secondMax
  m -= 1

In [34]:
print(result)

46